body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f5f5f5;
  color: #222;

}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #007bff;
  color: white;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px; 
}

.navbar a {
  text-decoration: none;
  color: white;
}

.contenido {
  padding: 30px;
}

button {
  padding: 8px 15px;
  border: none; 
  cursor: pointer;
}

.dark */

.dark {
  background-color: #121212;
  color: #f5f5f5;
}

.dark .navbar {
  background-color: #222;
}

